extends layout

block content
    h1= note.content
    div.row
        div.six.columns
            each m in note.medias
                - // compute a url to an automatically resized image (by Cloudinary)
                - var url = m.link.replace('upload/','upload/w_500,c_fit/')
                img(src=url, width="500")
        div.six.columns
            - var date = new Date(note.created_at)
            - var months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];
            
            strong= note.account.name
            p= months[date.getMonth()] + " " + date.getDate() + ", " + date.getFullYear()
            
            strong= "Location of Photograph"
            p= "Lat/Long: " + note.longitude + ", " + note.latitude
            p= note.context.description